Api/Gameficacao/.vs/Gameficacao/project-colors.json
Api/Gameficacao/.vs/Gameficacao/config/applicationhost.config
Api/Gameficacao/.vs/Gameficacao/DesignTimeBuild/.dtbcache.v2
Api/Gameficacao/.vs/Gameficacao/v17/.futdcache.v1
Api/Gameficacao/.vs/Gameficacao/v17/.suo
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/appsettings.json
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Gameficacao.deps.json
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Gameficacao.dll
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Gameficacao.exe
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Gameficacao.pdb
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Gameficacao.runtimeconfig.dev.json
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
Api/Gameficacao/Gameficacao/bin/Debug/net5.0/ref/Gameficacao.dll
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/apphost.exe
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/Gameficacao.assets.cache
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/Gameficacao.csproj.AssemblyReference.cache
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/Gameficacao.csproj.CoreCompileInputs.cache
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/Gameficacao.csproj.FileListAbsolute.txt
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/Gameficacao.dll
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/Gameficacao.GeneratedMSBuildEditorConfig.editorconfig
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/Gameficacao.genruntimeconfig.cache
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/Gameficacao.pdb
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/project.razor.json
Api/Gameficacao/Gameficacao/obj/Debug/net5.0/ref/Gameficacao.dll
