
@font-face {
    font-family: DaggerSquare;
    src: url("fonts/podium-font.woff") format("woff"), url("fonts/podium-font.ttf") format("truetype");
  }
  #podium-box {
    margin: 0 auto;
    display: flex;
    width: 75%;
  }
  .step-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .step-container>div:first-child {
    margin-top: auto;
    text-align: center;
  }
  .step {
    text-align: center;
  }
  .bg-blue {
    background-color: #076bcf;
  }
  #first-step {
    height: 50%;
  }
  #second-step {
    height: 35%;
  }
  #third-step {
    height: 30%;
  }
  

  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 600px;
      margin: 0 auto;
      
    }
    
    td, th {
      
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

  .retanglo {
    width: 100%;
    background-color: #8c8c8d;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 25%;
    gap: 10%;
    margin: 50px 0;
  }

  .podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .xp {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }

  .top1 > .xp {
    height: 200px;
  }

  .top2 > .xp {
    height: 150px;
  }

  .top3 > .xp {
    height: 120px;
  }

  .trophy {
    width: 50px;
    margin-bottom: 20px;
  }

  .name {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
  }

  .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .xp-number {
    font-size: 20px;
  }