  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 600px;
      margin: 0 auto;
      
    }
    
    td, th {
      
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

  .retanglo {
    width: 100%;
    background-color: #9797e0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 15%;
    gap: 10%;
    margin: 60px 0;
  }

  .podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .xp {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }

  .top1 > .xp {
    height: 190px;
  }

  .top2 > .xp {
    height: 130px;
  }

  .top3 > .xp {
    height: 110px;
  }

  .trophy {
    width: 50px;
    margin-bottom: 20px;
  }

  .name {
    color: white;
    font-size: 16px;
    margin-bottom: 0;
  }

  .profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .xp-number {
    font-size: 20px;
  }