.imagemperfil {
    background-color: lightgray;
    margin-top: 25px;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.avatar {
    border-radius: 50%;
    width: 100%;
    
}

.infousuario {
    margin-bottom: 0;
}

.destaque-perfil {
    font-weight: bolder;
}

.cabecalho {
    background-color: white;
    height: 400px;
}

.card {
    width: 27rem; 
    margin-bottom: 10px; 
    border-width: thick;
}

.card-body {
    padding-top: 0px; 
    padding-bottom: 0px;
}

.card-body .bi {
    font-size: 5rem;
}

.card-title {
    display: inline; 
    position: absolute; 
    padding-top: 30px; 
    padding-left: 10px;
}

.card-subtitle {
    display: inline; 
    position: absolute; 
    padding-top: 60px; 
    padding-left: 10px;
}

@media only screen and (max-width: 500px) {
    .card {
        width: 20rem; 
        margin-bottom: 10px; 
        border-width: thick;
    }
    
    .card-body {
        padding-top: 0px; 
        padding-bottom: 0px;
    }
    
    .card-body .bi {
        font-size: 5rem;
    }

}

@media only screen and (max-width: 350px) {
    .card {
        width: 5rem; 
        margin-bottom: 10px !important; 
        border-width: thin;
        margin: 0 auto;
    }
    
    .card-body {
        padding-top: auto; 
        padding-bottom: auto;
    }
    
    .card-body .bi {
        font-size: 3rem;
    }

    .card-title {
       font-size: 10pt;
       display: none;
    }
    
    .card-subtitle {
        display: none;
    }

}
